*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
  ;
}

.container {
  background-color: red;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.item {
  background-color: yellow;
  font-size: 2em;
}