*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  background-color: rgba(0, 0, 0, .8);
  width: 50%;
  /* height: 200px; */
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .75em 1em;
  border-bottom: 1px solid #222;
}

a:hover {
  background-color: rgba(0, 0, 0, .5);
}


@media screen and (min-width: 1000px) {
  ul {
    display: flex;
    width: 100%;
  }

  li {
    flex: 1;
  }

  a {
    text-align: center;
    border-bottom: none;
  }
}